<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>这是我的第一个Vue应用</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-on:keyup.enter="addAddr" v-model="newAddr"/>
    <ul>
        <li v-for="ad in addrList">{{ad.name}}<button v-on:click="removeAddr($index,ad,$els,$event)">X</button></li>
        <li v-if="ismulti">my God ! It is five.</li>
    </ul>
</div>
<script>
    new Vue({
        el:'#app',
        data:{
            newAddr:'',
            addrList:[{name:'linq'}],
            ismulti:false
        },
        methods:{
            addAddr:function(a,b,c,d) {
                var addr =this.newAddr.trim();
                if(addr) {
                    this.addrList.push({name:addr});
                    this.newAddr='';
                }
                if(this.addrList.length>5) {
                    this.ismulti = true;
                }else{
                    this.ismulti = false;
                }
                this.getLog();
//              console.log('add', this.newAddr);
            },
            getLog:function(){
                console.log('get log');
            },
            removeAddr:function(a,b,c,d) {
                console.log('remove');
                this.addrList.splice(a,1);
                if(this.addrList.length<=5){
                    this.ismulti = false;
                }
            }
        }
    });
</script>
</body>
</html>